/* Estilos Globais */
@media print {
  body * {
    visibility: hidden;
  }

  #printableArea, #printableArea * {
    visibility: visible;
  }

  #printableArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .no-print {
    display: none !important;
  }
}

/* Ajuste para a barra de rolagem no webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}